
<div id="movie-list-table">
    {% if movieLists %}
        <table>
            <tr>
                <th>Title</th>
                <th>Viewed</th>
                <th>Last Date Sug</th>
                <th>More Info</th>
                <th>Actions</th>
            </tr>
            {% for list in movieLists %}
                {% set deleteLink = url('movie_list_delete', {'id': list.movie.id}) %}
                {% set imdbLink = imdbMovieUrl.value ~ list.movie.ImdbId %}
                <tr>
                    <td>{{ list.movie.title }}</td> 
                    <td>{{ list.viewed }}</td>
                    <td>{{ list.lastDateSuggested|date('m/d/Y') }}</td>
                    <td><a href="{{ imdbLink }}" target="_blank"><button type="button">Learn More</button></a></td>
                    <td><a href="{{ deleteLink }}"><button type="button">Delete</button></a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You're fresh out of movies, add one so I can keep track it for you.</p>
    {% endif %} 
</div>